RewriteEngine On

# accept loading actual files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# if user writes something else , provide index.php
RewriteRule ^(.*)$ index.php?typedThing=$1 [L,QSA]