@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}



body{

	margin:0px;
	padding: 0px;
	background-color:#f6f6f6;
	overflow: hidden;
	
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
}
.logo span{
	color: #f7403b;
}
.sidenav {
  
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow: hidden;
  transition: 0.5s ease;
  padding-top: 30px;
  z-index: 1;
  box-shadow: 5px 0 15px rgba(198, 197, 197, 0.3);
 /* border-bottom-right-radius: 20px;*/
  
  
  
}

.sidenav .middle{
  margin-top: 10%;
}
.sidenav .middle a {
  position: relative;
  padding: 5% 0 5% 10%;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  transition: 0.1s ;
  margin-left: 1.5px;
  font-weight: 520;
  white-space: nowrap;
    overflow: hidden;
    margin-top: 2%;
   
}
.sidenav .middle label{
  margin-left: 6%;
}
#current {
  position: relative; /* Ensure proper positioning for the pseudo-element */
  color: #FEB900;
  background-color: #f5f5f2;
}

#current::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* Adjust the position of the line as needed */
  height: 100%;
  width: 3px; /* Adjust the width of the line as needed */
  background-color: #FEB900; /* Color of the line */
  display: block;
}




.icon-a label{
  
  cursor: pointer;
}
.sidenav .middle a:hover {
  color: #FEB900;
  background-color:#f3f3f1;
  margin-right: 3px;
  position: relative;
}
.sidenav .middle a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* Adjust the position of the line as needed */
  height: 100%;
  width: 3px; /* Adjust the width of the line as needed */
  background-color: #FEB900; /* Color of the line */
  display: block;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.dash-logo label{
  width: 100%;
  font-size: 60px;
  padding: 5% 0% 5% 20%;
  color: #ff9100;
  font-weight: bolder;
}

.logout-btn{
  position: absolute;
  bottom: 5%;
  font-size: 20px;
  font-weight: 700;
 
  text-decoration: none;
  color: #2600ff;
  width: 97.5%;
  padding:  5% 0 5% 30%;
  white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  transition: 0.1s ease;
  margin-left: 1%;
  margin-right: 3px;
  border-radius: 15px;
}


.logout-btn:hover{
  background-color:#FEB900;
  color: #ff0000;
  
  
}
.logout-btn label{
  cursor: pointer;
  
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 18%;
  position: relative;
}
.head{
	padding:20px;
  background-color: #e3e3e1;
  margin-left: 18%;
  transition: 0.5s ease;
  position: relative;

 
}
.dashboard-notify-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 190px;
}

.dashboard-notify{ 
  font-size: 20px;
  cursor: pointer;
}
.col-div-6{
	width: 50%;
	float: left;
  position: relative;
}
.profile{
	display: inline-block;
	float: right;
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: rgb(61, 47, 47);
	font-weight: 700;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #2f2e2e;
}
.col-div-3{
	width: 25%;
	float: left;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #ffffff;
	margin-left: 10px;
	padding:10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.box p{
	 font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #ff9100;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #000000;
    padding-right: 10px;
}
.col-div-8{
	width: 70%;
	float: left;
}
.col-div-4{
	width: 30%;
	float: left;
}
.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #000000;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 95%;
	background-color: #ffffff;
	height: 330px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	
}
.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
td, th {
  text-align: left;
  padding:15px;
  color: #000000;
  border-bottom: 1px solid #81818140;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}






#pop-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}
.modal-content{
  background-color: #00eeff;
}
.container{
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    border: 1px solid #be0000;
    border-radius: 20px 15px 20px 20px;
    background-color: rgb(235, 234, 234);
}

.close-button {
    position: absolute;
    left: 94%;
    top: 12px;
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    border-radius: 0; /* Set border-radius to 0 for a square shape */
    background-color: inherit;
    color: #001eff;
    border: 2px solid #001eff;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    
}
.close-button:hover{
    /* Adjust the size as needed */
   
    color: #ff0000;
    border-color: #ff0000;
  
}

.form-heading{
    font-weight: 900;
    font-size: 2rem;
    color: #000000;
    margin-top: 25px;

}

.form-overview p{
    font-weight: 700;
    font-size: 1.5rem;
    color: #fa6800;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-container{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.row-inputs{
    width: 95%;
}

.err-wrap{
    width: 100%;
    margin-bottom: 20px;
}

.err-wrap label{
    font-weight: 500;
    font-size: 1rem;
    display: block;
    padding-left: 10px;
}

.err-wrap  .bxs-cloud-upload{
    margin-right: 5px;
    font-weight: 500;
    font-size: 1.2rem;
}

.text-fields{
    display: flex;
    flex-direction: column;
    
   
}

.text-fields label{
    font-weight: 500;
    font-size: 1rem;
    padding-left: 10px;
}

.text-fields label i{
    margin-right: 5px;
}

.text-fields textarea{
    border: none;
    outline: none;
    background: #dfdddd;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #84848d;
    max-width: 100%;
    min-width: 100%;
    padding: 5px 0px 0px 20px;
    
}

.text-fields textarea:not(:placeholder-shown) {
    color: #2e2e2e;
}
.err-wrap .err-msg{
    font-size: 14px;
    color: #ff0000;
}

.btn-container{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 40%;
}

.btn-container button{
    background-color: #ff9100;
    color: #000000;
    width: 100%;
    cursor: pointer;
    padding: 2%;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    outline: none;
}

.btn-container button:hover{
    background-color: #fda838;
    color: #000000;
    font-weight: 900;
    
}
.file-upload {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 18%;
}

#uploadLabel {
    cursor: pointer;
}

#uploadLabel img {
    width: 100%; /* Set the desired width */
    height: 75%; /* Set the desired height */
    border: 2px solid #ccc; /* Add a border for styling */
    border-radius: 8px;
    margin-left: 18px;
     /* Optional: Add border-radius for rounded corners */
}

#imageUpload {
    display: none;
}




/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  z-index: 2;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}















* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: sans-serif;
}
@media print {
.table, .table__body {
overflow: visible;
height: auto !important;
width: auto !important;
}
}

/*@page {
  size: landscape;
  margin: 0; 
}*/

body {
  
}


main.table {
  position: absolute;
  margin-left: 22%;
  margin-top: 40px;
  width: 75%;
  height: 80%;
  background-color: rgb(235, 234, 234);

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: rgba(255, 255, 255, 0.533);
  box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}


.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}


table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: rgba(248, 186, 0, 0.4) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}

.status {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
}

.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

.status.pending {
  background-color: #ebc474;
}

.status.shipped {
  background-color: #6fcaea;
}


@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  
  text-align: center;
  font-size: 1rem;
  
  margin-left: .5rem;
  transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
  border: 1.4px solid #6c00bd;
}

thead th:hover {
  color: #6c00bd;
}

thead th.active span.icon-arrow{
  background-color: #6c00bd;
  color: #fff;
}

thead th.asc span.icon-arrow{
  transform: rotate(180deg);
}

thead th.active,tbody td.active {
  color: #6c00bd;
}

.export__file {
  position: relative;
}

.export__file .export__file-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: #fff6 url(images/export.png) center / 80% no-repeat;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
  background-color: #fff;
  transform: scale(1.15);
  cursor: pointer;
}

.export__file input {
  display: none;
}

.export__file .export__file-options {
  position: absolute;
  right: 0;
  
  width: 12rem;
  border-radius: .5rem;
  overflow: hidden;
  text-align: center;

  opacity: 0;
  transform: scale(.8);
  transform-origin: top right;
  
  box-shadow: 0 .2rem .5rem #0004;
  
  transition: .2s;
}

.export__file input:checked + .export__file-options {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.export__file .export__file-options label{
  display: block;
  width: 100%;
  padding: .6rem 0;
  background-color: #f2f2f2;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
  padding: 1rem 0;
  background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
  transform: scale(1.05);
  background-color: #fff;
  cursor: pointer;
}

.export__file .export__file-options img{
  width: 2rem;
  height: auto;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}